version: '3.3'

services:
  web:
    container_name: pos_backend.api
    build: ./app
    command : gunicorn pos_backend.wsgi:application --bind 0.0.0.0:3762
    volumes:
      - ./app:/usr/src/app
      - ./app/static:/usr/src/app/static
    ports:
      - 3762:3762
    depends_on:
      - mysql
    env_file:
      - ./app/.env
    networks:
      local_network:
        ipv4_address: 172.28.1.4
  
  mysql:
    image: mysql:latest
    container_name: pos_backend.mysql
    volumes:
      - db_data:/var/lib/mysql:rw
    environment:
      MYSQL_ROOT_PASSWORD: 'qwerty123'
      MYSQL_DATABASE: 'db_pos_backend'
    ports:
      - "3307:3306"
    networks:
      local_network:
        ipv4_address: 172.28.1.5

volumes:
  static_volume:
  db_data:

networks:
  local_network:
    ipam:
      driver: default
      config:
        - subnet: 172.28.0.0/16

